body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 36);
  color: #d1c9c9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ..................................Home..............................................................................*/
.home-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  background-color: rgb(39, 39, 46);
  height: 300px;
  margin: 40px 400px;
  padding-left: 20px;
}
.quotes-container {
  display: flex;
  flex-direction: column;
}
/* ..................................End of Home..............................................................................*/

/* ..................................NavBar..............................................................................*/
li {
  list-style: none;
}
.logo {
  font-size: 54px;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: rgb(46, 46, 54);
  color: white;
}
.design {
  margin-left: 5%;
  display: flex;
  cursor: pointer;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60;
  font-size: 18px;
  font-weight: light;
  padding: 20px;
  margin: 20px;
  width: 600px;
}

.li-class {
  border: 1px solid red;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/* ..................................End of NavBar..............................................................................*/

/* ..................................BookList..............................................................................*/

.main-container {
  width: 100%;
  min-height: 600px;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 0;
}
.container {
  background-color: aliceblue;
  width: 100%;
  margin: 20px 20px;
}

.book-list-design {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.book-list-logo {
  font-size: 22px;
}

.btnEdit,
.btnDelete {
  outline: none;

  padding: 5px;
  margin: 1px;
  border: none;
  cursor: pointer;
}
.btnEdit {
  background-color: rgb(5, 116, 20);
}
.btnDelete {
  background-color: rgb(148, 6, 6);
}

/* ..................................End of Home.............................................................................*/
/* ..................................ShowBook.............................................................................*/
.book-display {
  background-color: rgb(180, 160, 160);
  width: 90%;
  margin: 20px 20px;
  
} 
.show-book-heading{ margin: 20px 40px;
color:white;font-size: small;}
.search-box{width: 200px;}

/* ..................................End of ShowBook.............................................................................*/

/* ..................................AddBook..............................................................................*/
.headline {
  margin: 10px 40px;
}

.add-book {
  display: grid;
  width: 90%;
  height: 600px;
  background: black;
  margin: 5% 5%;
}
.main input {
  width: 550px;
  outline: none;
  height: 40px;
}
main input {
  width: 400px;
  outline: none;
  height: 40px;
}

select {
  outline: none;
  height: 30px;
}
section main {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.form-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn-section {
  translate: 40% 20%;
}
.btn-section button {
  margin: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
}
/* ..................................End of Addbook..............................................................................*/

/* ..................................Alert..............................................................................*/

.alert-danger {
  background: rgb(165, 14, 14);
}

.alert {
  position: absolute;
  width: 300px;
  height: 150px;
  right: 450px;
  top: 90px;
  color: white;
  border-radius: 4px;
}
.alert-success {
  background: rgb(24, 156, 68);
  
}

/* ..................................End of Alert..............................................................................*/
/* ..................................Sh..............................................................................*/

/* ..................................End of Alert..............................................................................*/